<div class="col-md-12" ng-controller="RequestCtrl" ng-init="init()">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="well">
			<form class="form-horizontal" ng-submit="createRequest()">
			  <fieldset>
			    <legend>Request for Service</legend>
			    <!-- <div class="alert alert-dismissible alert-danger" ng-show="registerError">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <p>Please fill in all the fields.</p>
					</div>
					<div class="alert alert-dismissible alert-danger" ng-show="passwordMatchError">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <p>Passwords do not match.</p>
					</div> -->
					<!-- <div class="alert alert-dismissible alert-success" ng-show="userRegistered">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <p>An email with confirmation link has been sent to you. Please follow the instructions in that email.</p>
					</div> -->
			    <div class="form-group">
			      <label for="serviceType" class="col-lg-2 control-label">Service</label>
			      <div class="col-lg-10">
			        <select class="form-control" ng-model="newRequest.serviceId">
			        	<option ng-repeat="service in services" value="{{service.id}}">{{service.name}}</option>
			        </select>
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="preferredDate" class="col-lg-2 control-label">Preferred Date</label>
			      <div class="col-lg-10">
			        <input type="date" class="form-control" id="preferredDate" ng-model="newRequest.preferredDate">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="preferredTime1" class="col-lg-2 control-label">Preferred Time 1</label>
			      <div class="col-lg-10">
			        <input type="time" class="form-control" id="preferredTime1" ng-model="newRequest.preferredTime1">
			      </div>
			    </div>
			     <div class="form-group">
			      <label for="preferredTime2" class="col-lg-2 control-label">Preferred Time 2</label>
			      <div class="col-lg-10">
			        <input type="time" class="form-control" id="preferredTime2" ng-model="newRequest.preferredTime2">
			      </div>
			    </div>
			     <div class="form-group">
			      <label for="preferredTime3" class="col-lg-2 control-label">Preferred Time 3</label>
			      <div class="col-lg-10">
			        <input type="time" class="form-control" id="preferredTime3" ng-model="newRequest.preferredTime3">
			      </div>
			    </div>
			    <div class="form-group">
			      <label for="preferredLocation" class="col-lg-2 control-label">Preferred Location</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" id="preferredLocation" placeholder="Location" ng-model="newRequest.preferredLocation">
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			        <button type="submit" class="btn btn-primary">Submit</button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>
